/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts awsome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

/* variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px 0;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

/* golbal rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .logo {
  height: 35px;
}

header nav {
  position: relative;
}

header .container .icon {
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}

header .container nav:hover ul {
  display: block;
}

header .container ul {
  list-style: none;
  background: #f6f6f6;
  position: absolute;
  right: 0;
  width: 200px;
  top: calc(100% + 20px);
  display: none;
}

header .container ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

header .container li a {
  display: block;
  padding: 10px 8px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

header .container li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

header .container li a:hover {
  padding-left: 20px;
}

/* Landing */
.landing {
  background-image: url(../images/mountain.jpg);
  background-size: cover;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing h1 {
  color: var(--main-color);
  margin-bottom: 5px;
  text-shadow: #333 2px 3px 1px;
}

/* Features */
.features {
  background: var(--section-background);
  padding: var(--section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  text-align: center;
}

.features .feat i {
  color: var(--main-color);
  margin-bottom: 15px;
}

.features .feat h3 {
  font-weight: 800;
  margin-bottom: 10px;
}

.features .feat p {
  color: #777;
  line-height: 1.5;
}
